<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style>
        /* Add extra styling here */
        body{
            padding-left: 25vw;
            padding-right: 25vw;
            padding-top: 5vh;
        }
        body h1{
            text-align: center;
        }
        label{
            font-size: large;
            font-weight: bold;
        }

    </style>
    <title>Form Submitted</title>
</head>
<body>
    <h1>Form Submitted by {{name}},<br>{{roll}}</h1>
    <br>
    <div class="text-center">
        <a href="/"><button type="button" class="btn btn-primary">Enter Again</button></a>
    </div>
</body>
</html>